.fonctionnement {
    display: flex;
    flex-direction: column;
    padding-bottom: 8%;
    position: relative;
    padding-left: 6%;
    padding-top: 4%;
    @media all and (min-width: 600px){
        background-image: url(./../../images/leaves-336694_1920.jpg);
        background-size: cover;
        padding-left: 0%;
        align-items: center;
        padding-bottom: 5%;
                }
    &__title{
        @media all and (min-width: 600px){
            font-size: 2rem;
            text-shadow: 3px 4px 2px darken($color-primary, 40%);
            color: $color-fifth;
        }
    }
    &__list{
       &--choose{
           @include bordures($color-fourth);
           @include etapes_btn;
           .options{
               margin-left: -11%;
           }
           @media all and (min-width: 600px){
               .options{
                   margin-left: -16%;
                   margin-right: 7%;
               }
           }
       }
       &--compose{
           @include bordures($color-fourth);
           @include etapes_btn; 
       }
       &--taste{
           @include bordures($color-fourth);
           @include etapes_btn;
       }
    }
}
.circle {
    @include bordures ($color-primary);
    border-radius: 50%;
    text-align: center;
    padding-top: 0.05rem;
    padding-bottom: 0.04rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 0.7rem;
    background-color: $color-primary;
    color: lighten($color-fourth, 8%);
    position: absolute;
    left: -10px;
    @media all and (min-width: 600px){
    @include bordures (darken($color-primary, 40%));
    background-color: darken($color-primary, 40%);
    }
}
.options {
    color: darken($color-fourth, 40%);
    margin-left: -20%;
    margin-right: 6%;  
}

.restaurants {
    background-color: (lighten($color-fourth, 8%));
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 6%;
    padding-right: 6%;
    @media all and (min-width: 600px){
        background-image: url(./../../images/wood-591631_1920.jpg);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        }
    &__title{
        @media all and (min-width: 600px){
            text-align: center;
            font-size: 2rem;
            text-shadow: 3px 3px 1px darken($color-primary, 40%);
            color: $color-fifth;
            margin-bottom: 5%;
        }
    }    
    &__box{
        &--r1{
            @include vignette;
            position: relative;   
        }
        &--r2{
            @include vignette; 
            position: relative;  
            @media all and (min-width: 600px){
                margin-left: 50%;
            }
            .lien-vignette{
                @media all and (min-width: 600px){
                    height: 320px;
                }  
            }
        }
        &--r3{
            @include vignette; 
        }
        &--r4{
            @include vignette;
            @media all and (min-width: 600px){
                margin-left: 50%;
            }
        }
    }
}
.photo_resto{
    width: 100%;
}
.lien-vignette{
    display: flex;
    align-items: center;
    overflow: hidden;
    @media all and (max-width: 599px){
    height: 200px
    }
}
.bold {
    font-weight: 700;
}
figcaption{
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
}
.like {
    position: absolute;
    left: 86%;
    bottom: 27%;
    font-size: 1.5rem;
    color: rgb(95, 99, 99);
    transform: scale(1);
    transition: transform 500ms;
    &:hover {
        color: $color-primary;
        transform: scale(1.01);
    }

}
.nouveauté{
    @include nouveau; 
    position: absolute;
    top: 5%;
    left: 68%;
}
/*
#resto_flex {
     @media all and (min-width: 600px){
    display: flex;
    justify-content: space-around;
    }
}
*/