.footer{
    @include pied;
    &__title{
        @include Shrikhand;
        margin-block: 0%;
        font-size: 1.2rem;
    }
}
.fa-utensils {
    padding-right: 4%;
}
.fa-hands-helping{
    font-size: 0.8rem;
    padding-right: 3%;
}