.fa-arrow-left{
    font-size: 1.5rem;
    color: black;
    position: absolute;
    top: 27%;
    left: 5%;
}
.fixedheading{
    position: fixed;
    width: 100%;
    background-color: $color-fifth;
    &__maintitle{
    position: relative;
    }
    .main-title{
        @include Shrikhand;
        margin-block: 0%;
        text-align: center;
        font-size: 1.8rem;
    }
}
.nomargin{
    margin: 0%;
}
body{
    margin: 0%;
}

.main{
    background-image: url(./../../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.menu{
    background-color: lighten($color-fourth, 5%);
    @include bordures(lighten($color-fourth, 5%));
    border-radius: 35px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 58%;
    width: 100%;
    &__h2{
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 8%;
        @include Shrikhand;
        font-size: 1.8rem;
        
    }
    &__h3{
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 5%;
        padding-bottom: 1%;
        text-transform: uppercase;
        border-bottom: 3px solid $color-third;
        border-bottom-width: 10%;
        width: 10%;
        font-size: 1rem;
    }
    &__btn{
        @include menu_btn;
        @include bordures($color-fifth);
        padding-left: 3%;
    }
    &__order__btn{
        @include bordures($color-secondary);
        @include purple_btn;
        width: 40%;
        margin-top: 15%;
        margin-bottom: 20%;
        margin-left: 26%;
        text-align: center;
        font-size: 1rem;
    }
}
.plat{
    font-size: 1.1rem;
}
.ingredients{
    font-size: 0.9rem;
    width: 70%;
}
.prix{
    float: right;
    padding-right: 4%;
}
.menufav{
    margin-left: 7%;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.603);
    &:hover {
        color: $color-primary;
        transform: scale(1.01);
    }
}

.fa-utensils {
padding-right: 4%;
}

.fa-hands-helping{
font-size: 0.8rem;
padding-right: 3%;
}
